@using ForumManagmentSystem.Core.ViewModels
@using ForumManagmentSystem.Infrastructure.Data.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Post - Details";
    string currentUser = Context.Session.GetString("user");
}

@model PostDetailViewModel

<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    }

    .btn:active,
    .btn.active {
        outline: none !important;
    }

    #mainNav {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;
    }

        #mainNav .navbar-nav .nav-item .nav-link {
            color: black;
            padding: 0 1rem;
        }

        #mainNav .navbar-nav .nav-item:hover {
            background-color: rgba(0,0,0,0);
        }

        #mainNav .navbar-nav .nav-item .nav-link:hover {
            color: #f4623a;
        }
</style>


<section class="page-section" style="margin-left: 160px; margin-right: 160px; margin-top:30px;">

    <h2 style="margin-bottom:30px;">@Model.Post.Title</h2>

    @*Original Post*@
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <div class="media-body ml-3">
                                <a asp-controller="Posts" asp-action="Overview" asp-route-createdBy="@Model.Post.CreatedBy" data-abc="true">@Model.Post.CreatedBy</a> <span>(OP)</span>
                                <div class="text-muted small">
                                    @Model.Post.CreatedOn.ToString("dd.MM.yyyy, HH:mm", new System.Globalization.CultureInfo("bg-BG"))
                                </div>
                            </div>
                        </div>
                        @if (currentUser == @Model.Post.CreatedBy)
                        {
                            <a asp-controller="Posts" asp-action="Edit" asp-route-title="@Model.Post.Title" title="Edit" style="color: black">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </a>
                            @* 
                            <input name="Post" type="hidden" style="display: none;" value="">
                            <button class="btn" style="margin-right: 5px;" data-toggle="tooltip" data-placement="top" title="Like">
                                
                            </button> *@

                            <div class="ml-auto">
                                <a asp-controller="Posts" asp-action="Delete" asp-route-postID="@Model.Post.ID" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Delete" style="color: black">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </a>
                            </div>
                        }else if (ViewBag.currentUser != null && ((UserDb)ViewBag.currentUser).IsAdmin)
                        {
                            <div class="ml-auto">
                                <a asp-controller="Posts" asp-action="Delete" asp-route-postID="@Model.Post.ID" type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Delete" style="color: black">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </a>
                            </div>
                        }
                    </div>
                    <div class="card-body">
                        @Model.Post.Content
                    </div>
                    <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                        <div class="px-4 pt-3 d-flex align-items-center">
                            <form asp-controller="Posts" asp-action="AddLiketoPost">
                                <input name="postID" type="hidden" style="display: none;" value="@Model.Post.ID">
                                <button class="btn" style="margin-right: 5px;" data-toggle="tooltip" data-placement="top" title="Like" style="color: black">
                                    <span class="material-symbols-outlined">
                                        thumb_up
                                    </span>
                                </button>
                            </form>

                            <span class="ml-5">@Model.Post.Likes</span>
                        </div>

                        <div class="px-4 pt-3">
                            <a type="button" class="btn btn-primary" href="#replayForm">
                                <i class="ion ion-md-create"></i>Reply
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @if (Model.Post.Replies.Count == 0)
    {
        <p class="container-fluid mt-100" style="margin-top: 30px; margin-bottom: 30px;">There are still no replies. Be the first one to reply!</p>
    }
    else
    {
        @*  Reply   *@
        @foreach (var replay in Model.Post.Replies)
        {
            <div class="container-fluid mt-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="media flex-wrap w-100 align-items-center">
                                    <div class="media-body ml-3">
                                        <a asp-controller="Posts" asp-action="Overview" asp-route-createdBy="@replay.CreatedBy" data-abc="true">@replay.CreatedBy</a>
                                        <div class="text-muted small">
                                            @replay.CreatedOn.ToString("dd.MM.yyyy, HH:mm", new System.Globalization.CultureInfo("bg-BG"))
                                        </div>
                                    </div>
                                </div>
                                @if (currentUser == replay.CreatedBy)
                                {
                                    <a asp-controller="Posts" asp-action="EditReply" asp-route-id="@replay.ID" title="Edit" style="color: black">
                                        <span class="material-symbols-outlined">
                                            edit
                                        </span>
                                    </a>
                                    

                                    <div class="ml-auto">
                                        <a asp-controller="Posts" asp-action="TODO" type="button" class="btn btn-link" data-toggle="tooltip" data-placement="top" title="Delete" style="color: black">
                                            <span class="material-symbols-outlined">
                                                delete
                                            </span>
                                        </a>
                                    </div>
                                }
                            </div>
                            <div class="card-body">
                                @replay.Content
                            </div>
                            <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                <div class="px-4 pt-3 d-flex align-items-center">
                                    <form asp-controller="Posts" asp-action="AddLiketoReply">
                                        <input name="replyID" type="hidden" style="display: none;" value="@replay.ID">
                                        <button class="btn" style="margin-right: 5px;" data-toggle="tooltip" data-placement="top" title="Like">
                                            <span class="material-symbols-outlined">
                                                thumb_up
                                            </span>
                                        </button>
                                    </form>
                                    <span class="ml-5">@replay.LikesCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <form asp-controller="Posts" asp-action="Reply" method="post" style="max-width: 44%; margin-left:70px" id="replayForm">

        <div class="form-group" style="margin-top: 25px">
            <label asp-for="Reply.Content">Replay</label>
            <textarea type="Content" asp-for="Reply.Content" class="form-control" style="width: 203%; height:300px"></textarea>
            <span asp-validation-for="Reply.Content" class="text-danger"></span>
        </div>

        <div class="form-group" style="margin-top: 25px">
            <button type="submit" value="PostCreation" class="btn btn-primary">Reply</button>
        </div>

        <input asp-for="Reply.PostTitle" style="display: none;" value="@Model.Post.Title" />

    </form>


</section>