@using ForumManagmentSystem.Core.ViewModels
@using ForumManagmentSystem.Infrastructure.Data.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Post - Edit";
    string currentUser = Context.Session.GetString("user");
}

@model PostDetailViewModel

<style>
    body {
        background-color: #f8f9fa;
    }

    .card {
        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    }

    .btn:active,
    .btn.active {
        outline: none !important;
    }

    #mainNav {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;
    }

        #mainNav .navbar-nav .nav-item .nav-link {
            color: black;
            padding: 0 1rem;
        }

        #mainNav .navbar-nav .nav-item:hover {
            background-color: rgba(0,0,0,0);
        }

        #mainNav .navbar-nav .nav-item .nav-link:hover {
            color: #f4623a;
        }
</style>

<section class="page-section" style="margin-left: 160px; margin-right: 160px; margin-top:30px;">

    <h2 style="margin-bottom:30px;">@Model.Reply.PostTitle</h2>
    @*Original Post*@
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div class="media flex-wrap w-100 align-items-center">
                            <div class="media-body ml-3">
                                <a asp-controller="Posts" asp-action="Overview" asp-route-createdBy="@Model.Post.CreatedBy" data-abc="true">@Model.Post.CreatedBy</a> <span>(OP)</span>
                                <div class="text-muted small">
                                    @Model.Post.CreatedOn.ToString("dd.MM.yyyy, HH:mm", new System.Globalization.CultureInfo("bg-BG"))
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        @Model.Post.Content
                    </div>
                    <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                        <div class="px-4 pt-3 d-flex align-items-center">
                            <span style="margin-right: 5px;" data-toggle="tooltip" data-placement="top" title="Like">
                                <span class="material-symbols-outlined">
                                    thumb_up
                                </span>
                            </span>
                            <span class="ml-5">@Model.Post.Likes</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*  Reply   *@

    @foreach (var replay in Model.Post.Replies)
    {
        if (replay.ID == ViewBag.ReplyId)
        {
            <form method="post" asp-controller="Posts" asp-action="EditReply" style="max-width: 52.5%; margin-left: 70px" id="postForm">

                @* <input type="text" asp-for="@Model.Reply.PostTitle" type="hidden" style="display: none;">
                <input type="text" asp-for="@Model.Reply.CreatedBy" type="hidden" style="display: none;">
 *@
                <div class="form-group" style="margin-top: 25px">
                    <label asp-for="@Model.Reply.Content">Content</label>
                    <textarea asp-for="@Model.Reply.Content" class="form-control" style="width: 172%; height: 300px" maxlength="8192" ></textarea>
                    <div style="margin-top:10px;" id="contentCounter" class="text-muted" title="Miimum Characters:32">Characters: 0/8192</div>
                    <span asp-validation-for="@Model.Reply.Content" class="text-danger"></span>
                </div>

                <div class="form-group" style="margin-top: 25px;">
                    <a asp-controller="Posts" asp-action="Detail" asp-route-title="@Model.Post.Title" type="button" value="EditPost" class="btn">Cancel</a>
                    <button type="submit" value="@Model" class="btn btn-primary">Save</button>
                </div>

            </form>
        }
        else
        {
            <div class="container-fluid mt-100">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card mb-4">
                            <div class="card-header d-flex justify-content-between align-items-center">
                                <div class="media flex-wrap w-100 align-items-center">
                                    <div class="media-body ml-3">
                                        <a asp-controller="Posts" asp-action="Overview" asp-route-createdBy="@replay.CreatedBy" data-abc="true">@replay.CreatedBy</a>
                                        @if (Model.Post.CreatedBy == currentUser)
                                        {
                                            <span>(OP)</span>
                                        }
                                        <div class="text-muted small">
                                            @replay.CreatedOn.ToString("dd.MM.yyyy, HH:mm", new System.Globalization.CultureInfo("bg-BG"))
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                @replay.Content
                            </div>
                            <div class="card-footer d-flex flex-wrap justify-content-between align-items-center px-0 pt-0 pb-3">
                                <div class="px-4 pt-3 d-flex align-items-center">
                                    <span style="margin-right: 5px;" data-toggle="tooltip" data-placement="top" title="Like">
                                        <span class="material-symbols-outlined">
                                            thumb_up
                                        </span>
                                    </span>
                                    <span class="ml-5">@replay.LikesCount</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</section>