@using ForumManagmentSystem.Core.ResponseDTOs
@using ForumManagmentSystem.Infrastructure.Data.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Profile Overview";
    string currentUser = Context.Session.GetString("user");
}
@model IList<PostResponseDTO>

<style>
    body {
        background-color: #f8f9fa;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    #list {
        border-bottom: 1px solid #ccc;
        padding: 0px;
        max-width: 53%;
        transition: background-color 0.3s;
        box-sizing: border-box;
        margin-left: 0;
        cursor: pointer;
    }

    li:hover {
        background-color: #f0f0f0;
    }

    h5 {
        margin-bottom: 15px;
        display: inline;
    }

    .post-details {
        display: flex;
        align-items: flex-start; /* Align items to the start of the container */
        justify-content: space-between;
        font-size: 14px;
    }

    .name-group {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .material-symbols-outlined {
        font-size: 20px;
        margin-right: 5px;
    }

    .user-group {
        align-items: center;
        display: flex;
    }

    .likes-and-comments {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20px; /* Adjust the margin-left as needed */
        margin-right: 10px; /* Adjust the margin-left as needed */
        margin-top: -20px;
    }

    .date-group {
        margin-top: 2px; /* Adjust the margin-top for separation */
        align-items: center;
        display: flex;
    }

    .comment-group {
        display: flex;
        align-items: flex-end;
        margin-top: 50px; /* Adjust the margin-top as needed */
    }

    .likes-group {
        display: flex;
        align-items: flex-end;
        margin-top: 5px; /* Adjust the margin-top as needed */
    }

    #mainNav {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: #fff;
    }

        #mainNav .navbar-nav .nav-item .nav-link {
            color: black;
            padding: 0 1rem;
        }

        #mainNav .navbar-nav .nav-item:hover {
            background-color: rgba(0,0,0,0);
        }

        #mainNav .navbar-nav .nav-item .nav-link:hover {
            color: #f4623a;
        }

</style>

<section class="page-section" style="margin-left: 160px; margin-right: 160px; margin-top:30px;">

    @if (currentUser == @Model.LastOrDefault()?.CreatedBy)
    {
        <h2 style="margin-left:50px; margin-bottom:30px;">Your Posts</h2>
    }
    else
    {
        if (Model.Count == 0)
        {
            <h2 style="margin-left:50px; margin-bottom:30px;">User Doesn't Have Any Posts</h2>
        }
        else
        {
            <h2 style="margin-left:50px; margin-bottom:30px;">@Model.LastOrDefault()?.CreatedBy's Posts</h2>
        }

        @if (ViewBag.currentUser != null && ((UserDb)ViewBag.currentUser).IsAdmin)
        {
            // TODO
            <form method="post" asp-controller="Users" asp-action="BlockUser">
                <input type="hidden" name="userToDelete" value="@Model.LastOrDefault()?.CreatedBy" />
                <button type="submit" class="material-symbols-outlined" style="margin-left: 70px; margin-bottom:20px;" title="Block User" role="button">
                    block
                </button>
            </form>
        }

    }

    <ul style="margin-left: 70px;">
        @foreach (var post in Model)
        {
            <li id="list">
                <a asp-controller="Posts" asp-action="Detail" asp-route-title="@post.Title">
                    <h5>@post.Title</h5>

                    <div class="post-details">
                        <div class="name-group">
                            
                            <!-- Date is now part of the name-group and below the user -->
                            <div class="date-group">
                                <span class="material-symbols-outlined">
                                    calendar_month
                                </span>
                                <span>@post.CreatedOn.ToString("dd.MM.yy", new System.Globalization.CultureInfo("bg-BG"))</span>
                            </div>
                        </div>

                        <div class="likes-and-comments">
                            <!-- Comments Section -->
                            <div class="comments-group">
                                <span class="material-symbols-outlined" style="margin-right:8px">
                                    comment
                                </span>
                                <span>@post.Replies.Count</span>
                            </div>

                            <!-- Likes Section -->
                            <div class="likes-group" style="margin-top:10px">
                                <span class="material-symbols-outlined" style="margin-right:10px">
                                    thumb_up
                                </span>
                                <span>@post.Likes</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        }
    </ul>
</section>

